:root {
  --darkest-grey: #171717;
  --darker-grey: #282828;
  --lust-red: #e62020;
  --orange: #fd7f20;
  --amber-yellow: #fdb750;
  --white: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  background-color: var(--darkest-grey);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  width: 100%;
  max-height: 1024px;
  max-width: 1920px;
}

h1 {
  font-size: 24px;
  color: var(--lust-red);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

h2 {
  font-size: 20px;
  color: var(--lust-red);
}

h3 {
  font-size: 16px;
}

a {
  color: var(--orange);
}

b {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--orange);
  text-decoration-color: var(--orange);
}

.social a {
  color: transparent;
}

.icon {
  width: 40px;
  height: auto;
  padding-right: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: var(--darkest-grey);
  margin-bottom: 100px;
}

.logo-img {
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 3em;
  color: var(--white);
  text-decoration: none;
}

.hamburgerMenu {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10%;
  width: 40px;
  height: 40px;
}

.hamburgerMenu img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(700px, 100%), 1fr));
  grid-template-rows: auto;
  background-color: var(--darker-grey);
  margin-top: 0;
  grid-template-areas:
    "eins-a eins-b"
    "zwei-b zwei-a"
    "drei-b drei-a"
    "vier-b vier-a"
    "fuenf-b fuenf-a";
}

#grid-item-text {
  display: flex;
  background-color: var(--darker-grey);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

#grid-item-text h1 {
  font-size: 32px;
}

#grid-item-img {
  margin: auto;
  display: block;
}

#grid-item-img img {
  max-width: 75%;
  max-height: 1024px;
  height: auto;
  padding: 15%;
}

.container-menu {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframe {
  position: relative;
  width: 80%;
  height: 800px;
}

#div-menu-a {
  margin-top: 10%;
  text-align: center;
}

#a-pdf-download {
  margin-top: 20%;
  text-align: center;
}

.row {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.column {
  flex: 35%;
}

.container-contact-form {
  margin-top: 250px;
  margin-bottom: 250px;
  color: var(--white);
  text-align: center;
  background-color: var(--darker-grey);
}

.container-contact-form h1 {
  padding-bottom: -10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

#icons-contact-form {
  padding-top: 40px;
  padding-bottom: 20px;
}

.form-label {
  margin: 20px;
  display: block;
  line-height: 24px;
}

.form-input,
.form-textarea {
  display: block;
  padding: 6px;
  width: 400px;
}

.form-textarea {
  height: 10px;
}

.submit {
  border: none;
  padding: 12px;
  margin: 30px 0;
  width: 100px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  color: var(--white);
  background-color: var(--lust-red);
}

#container-maps-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 80%;
  max-height: auto;
}

.grid-container-about {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left middle middle right right"
    "footer footer footer footer footer footer";
  padding-top: 150px;
  color: var(--white);
  text-align: center;
}

.h1-about {
  grid-area: header;
  background-color: var(--darker-grey);
  color: var(--white);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  padding-bottom: 100px;
}

#icons-footer {
  padding-bottom: 10px;
}

footer {
  background-color: #121315;
  color: #ffffff;
  font-size: 16px;
  margin-top: 250px;
}

footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}

footer .row {
  padding: 2em 1em;
}

footer .row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: stretch;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

footer h3 {
  width: 100%;
  text-align: left;
  color: var(--lust-red);
  font-size: 1.6em;
  white-space: nowrap;
  padding-bottom: 40px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

footer li:not(:first-child) {
  margin-top: 0.8em;
}

footer > ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer > ul li a:hover {
  color: var(--amber-yellow);
}

footer > .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

footer > div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

footer > .social a:hover {
  color: var(--amber-yellow);
}

footer > .row.secondary {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--darker-grey);
}

footer > .row.secondary i {
  font-size: 1.8em;
  color: var(--amber-yellow);
}

footer > .row.secondary div {
  padding: 1em 0;
  width: 100%;
}

footer > .row.secondary div:hover {
  background-color: var(--lust-red);
}

footer > .copyright {
  padding: 0.3em 1em;
  background-color: var(--darkest-grey);
  text-align: center;
}

footer > .copyright p {
  font-size: 0.9em;
  text-align: center;
}

#container-main-img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  top: 75px;
}

@media (max-width: 600px) {
  br {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.2rem;
  }

  #grid-item-text h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  a {
    font-size: 0.8rem;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--darkest-grey);
    padding: 0 10%;
    margin-bottom: 100px;
  }

  .navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--darkest-grey);
    justify-content: center;
  }

  .hamburgerMenu {
    display: block;
  }

  .flex-container {
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 30px;
    row-gap: 10px;
  }

  .navigation.active {
    display: flex;
  }

  #container-main-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 150px;
  }

  .eins-a {
    grid-area: eins-a;
  }

  .eins-b {
    grid-area: eins-b;
  }

  .zwei-a {
    grid-area: zwei-a;
  }

  .zwei-b {
    grid-area: zwei-b;
  }

  .grid-container {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "eins-a"
      "eins-b"
      "zwei-a"
      "zwei-b"
      "drei-b"
      "drei-a"
      "vier-b"
      "vier-a"
      "fuenf-a"
      "fuenf-b" !important;
    margin-top: 20%;
  }

  .eins-a {
    grid-area: eins-a !important;
  }
  .eins-b {
    grid-area: eins-b !important;
  }
  .zwei-a {
    grid-area: zwei-a !important;
  }
  .zwei-b {
    grid-area: zwei-b !important;
  }
  .drei-a {
    grid-area: drei-a !important;
  }
  .drei-b {
    grid-area: drei-b !important;
  }
  .vier-a {
    grid-area: vier-a !important;
  }
  .vier-b {
    grid-area: vier-b !important;
  }
  .fuenf-a {
    grid-area: fuenf-a !important;
  }
  .fuenf-b {
    grid-area: fuenf-b !important;
    margin-bottom: 100px !important;
  }

  .iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: auto;
  }

  #div-menu-a {
    margin-top: 35%;
    margin-bottom: 200px;
    text-align: center;
  }

  #container-contact-form {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  #container-maps-img {
    margin-top: 20px;
  }

  .row {
    flex-flow: row wrap;
  }

  .column {
    flex: 80%;
    width: 80%;
    margin-bottom: 50%;
  }

  .form-input {
    width: 100%;
  }

  .form-textarea {
    width: 100%;
  }

  #footer {
    margin-top: 100px !important;
    font-size: 16px;
  }

  footer .row.primary {
    flex-direction: column;
    grid-template-columns: none;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  footer h3 {
    text-align: center;
    margin-bottom: 30px;
  }

  #column-about {
    margin-top: 150px;
  }

  .column {
    margin-bottom: 75px;
  }

  .row.secondary {
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .icons-footer {
    font-size: 20px;
  }

  footer > .copyright {
    font-size: 12px;
  }

  #container-menu {
    display: none;
  }

  #container-menu-mobile {
    display: block !important;
    text-align: center;
  }

  #container-menu-mobile img {
    margin-top: 150px;
    max-width: 94%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 601px) {
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .hamburgerMenu {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
